/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del,
dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {line-height: 1.5;}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
table, td, th {vertical-align: middle;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: none;}


/*******************************/
/*      Main color scheme      */
/*******************************/

body {
	font: 80% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	color: #fff;
	background: #151515 url(images/body-bg.gif) repeat-x;
}

h1,h2,h3,h4,h5,h6 {font-family: "Trebuchet MS", arial, sans-serif;}
h1 {
	letter-spacing: 2px;
	text-align: center;
	font-weight: normal;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.5em;
	padding: 30px 20px 10px 15px;
	margin: 0;
	border-top: solid 1px #91A7AF;
	border-bottom: solid 1px #7597A5;
	color: #fff;
	background: #7B95A1 url(images/h1.gif) repeat-x left bottom;
}
p {
	margin: 1em 0;
	line-height: 1.5;
}


/*******************/
/*      Links      */
/*******************/

a {
	text-decoration: none;
	border-bottom: 1px #ABB solid;
	color: #FFF
}
a:hover {background-color: #506666;}


/********************/
/*      Header      */
/********************/

#header {
	width:90%;
	border-bottom: solid 1px #18252A;
	margin: auto;
	margin-top: 13px;
	margin-bottom: 10px;
	background: #000;
}

#header h2 {
	margin: 1em 0 1em 15px;
	text-align: center;
}


/**************************/
/*      Main content      */
/**************************/

#main-content {
	width:90%;
	background: url(images/container-bg.gif) repeat-x;
	margin: auto;
	margin-top: 13px;
/*	margin-bottom: 13px;*/
	padding: 0 20px;
	margin-bottom: 2.5em;
}
