/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del,
dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {line-height: 1.5;}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
table, td, th {vertical-align: middle;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: none;}


/*******************************/
/*      Main color scheme      */
/*******************************/

body {
	font: 80% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	color: #fff;
	background: #151515 url(images/body-bg.gif) repeat-x;
}

h1,h2,h3,h4,h5,h6 {font-family: "Trebuchet MS", arial, sans-serif;}
h1 {
	letter-spacing: 2px;
	text-align: center;
	font-weight: normal;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.5em;
	padding: 30px 20px 10px 15px;
	margin: 0;
	border-top: solid 1px #91A7AF;
	border-bottom: solid 1px #7597A5;
	color: #fff;
	background: #7B95A1 url(images/h1.gif) repeat-x left bottom;
}
h2 {
	font-weight: normal;
	font-size: 1.5em;
	margin: 1.75em 0 1em 0;
	color: #8298A1;
	background: url(images/h2.gif) no-repeat left bottom;
}
h3 {
	font-size: 1.2em;
	padding: 4px 10px;
	margin-top: 0.5em;
	color: #8298A1;
	background: url(images/h2.gif) no-repeat left bottom;
}
p {
	margin: 1em 0;
	line-height: 1.5;
}
ul li {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	list-style: url(images/h5.gif);
}
td {
	line-height: 1.5;
	padding: 2px 5px;
	vertical-align: top;
}
th {
	font-size: 1em;
	padding: 2px 5px;
	text-align: left;
	border-top: solid 1px #000;
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
	color: #fff;
	background: #526D78 url(images/th.gif) repeat;
	border-color: #758A93;
}
td p {
	line-height: 1.5;
	margin-top: 0;
}
h2 a {color: #B4D0DD;}
h3 img {
  float: right;
  margin-top: 0.25em;
}

/**************************/
/*      Misc classes      */
/**************************/

.right-text {text-align: right;}
.padded_links a {margin-left: 0.75em;}
.float_right {float: right;}
.clear_all {clear: both;}
.no_wrap {white-space: nowrap;}


/*******************/
/*      Links      */
/*******************/

a {
	text-decoration: none;
	border-bottom: 1px #ABB solid;
	color: #FFF
}
a:hover {background-color: #506666;}


/****************************/
/*      Site container      */
/****************************/

#container {
	width:90%;
	max-width: 1100px;
	background: url(images/container-bg.gif) repeat-x;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

/********************/
/*      Header      */
/********************/

#header {
	border-bottom: solid 1px #18252A;
	margin-top: 1em;
	background: #000;
}

#header h2 {
	margin: 1em 0 1em 0;
	text-align: center;
	background: none;
}


/**************************/
/*      Main content      */
/**************************/

#main-content {margin: 2em;}


/*********************/
/*      Sidebar      */
/*********************/

.sidebar {
	float: right;
	clear: right;
	width: 230px;
	margin: 0 0 2em 2em;
	background: url(images/sidebar.gif) repeat-x 0 0;
}

.sidebar h3 {
	font-weight: normal;
	font-size: 1.3em;
	border-top: solid 1px #000;
	color: #536D79;
	background: #1A2125 url(images/sidebar-h3.gif) repeat-x left bottom;
	border-top-color: #0D1114;
	margin-bottom: 0.5em;
}

.sidebar p {
	margin-left: 0.5em;
	margin-right: 1em;
}

.sidebar li {margin-bottom: 0.8em;}

.sidebar ul {padding-left: 2em;}

.sidebar ul li {padding-right: 1em;}


/*******************/
/*      Posts      */
/*******************/

.top_post .showmore {display: none;}
.showmorelink {
  margin-left: 0.5em;
  border-bottom: 1px rgb(170, 187, 187) dotted;
  cursor: pointer;
}
.top_post .thumb {
  float: right;
  margin-left: 0.5em;
}


/*************************/
/*      Addon Table      */
/*************************/

#addon_list {
	width: 100%;
	border-collapse: collapse;
}

#addon_list tr:hover {background: #1A2125;}

#addon_list td {
	padding-top: 3px;
	padding-bottom: 3px;
	letter-spacing: 0.2em;
	font-size: 0.9em;
	color: #B4D0DD;
	border-bottom: dotted 1px #3E4D53;
}

#addon_list td a.title{color: #74909D;}

#addon_list td a.title:hover{background: black;}

.has_issues, noscript {color: #ff9900;}

/********************/
/*      Footer      */
/********************/

#footer {
	padding: 1px 1em;
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	clear: both;
	color: #133;
	background: #7B95A1 url(images/h1.gif) repeat-x left bottom;
	border-top-color: #91A7AF;
	border-bottom-color: #7597A5;
	text-align: right;
}


/****************************/
/*      Forking ribbon      */
/****************************/

@font-face {
  font-family: Collegiate;
  src: url("/Collegiate.ttf");
}

.myribbon {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 12em;
  right: 0;
}

.myribbon a, myribbon a:hover { text-decoration: none; }

.myribbon a {
  font-family: Collegiate, sans-serif;
  font-size: 125%;
  letter-spacing: -.1px;
  opacity: 0.95;

  padding: 0.25em 0;
  position: relative;
  top: 2.5em;

  /* Defaults friendly for white pages. */
  -moz-box-shadow: 0 0 13px #888;
  -webkit-box-shadow: 0 0 13px #888;
  color: #FFF;
  display: block;
  line-height: 1.35em;

  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -2.6em;
  background-color: #E57504;
  background: -webkit-gradient(linear, left bottom, left top, from(#dc7202), to(#ee7906));
  text-shadow: 0 0 0.5em #444;
}

.myribbon a span {
  border: 1px solid #ebaa65;
  padding: 0.1em 3em;
}