<div class="sidebar">
  <div>
    <p>
      <a class="float_right" href="http://www.wowinterface.com/downloads/fileinfo.php?id=7674" target="_blank">
        <img src="/tg/extras/wowinterface.gif" width="88" height="31" border="0" alt="Visit WoWInterface for World of Warcraft Addons!">
      </a>
      Download the TourGuide addon for free at <a href="http://www.wowinterface.com/downloads/fileinfo.php?id=7674" target="_blank">WoW Interface</a>
    </p>
  </div>

  <!--[if IE]>
    <div>
      <p>
        <a class="float_right" href="http://www.firefox.com/" target="_blank"> <img src="tg/extras/fflogo.png" width="115" height="31" border="0" alt="IE SUCKS!" /> </a>
        Site look funny on IE? <br> Get a real browser!
      </p>
    </div>
  <![endif]-->

  <div>
    <p>
      <a class="float_right" href="http://pledgie.org/campaigns/767" target="_blank"><img src="http://www.pledgie.com/campaigns/767.png?skin_name=chrome"></a>
      Help feed a poor starving bear cub!
    </p>
  </div>

  <div>
    <p>
      <a class="float_right" href="http://www.wowhead.com" target="_blank"><img src="http://www.wowhead.com/images/badge_88x31.gif" width="88" height="31" border="0" alt="" /></a>
      Tooltips and maps powered by Wowhead
    </p>
  </div>
</div>
